body{
    font-family: 'Slabo 27px', serif;
    font-size:16px;
}
a{
    text-decoration: none;
}
a:hover{
    font-family: 'Oswald', sans-serif;
}
h1{
    font-family: 'Oswald', sans-serif;
}
.h1{
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}
.red{
    color: red!important;
}
.info{
    background-color: yellow;
}
.error{
    background-color: red;
}
.message{
    border:2px solid #e5e5e5;
    border-radius: 6px;
    display: none;
    padding: 10px;
}
.mostrar{
    display: inline-block;
    text-transform: uppercase;
}
.sec{
    border-radius:4px;
    color: white;
    height:100%;
    padding:15px;
}
.sec.black{
    background-color: black;
}
.sec.maroon{
    background-color: maroon;
}
.sec.gray{
    background-color: gray;
}
.art{
    margin:0 0 20px;
}
.post{
    margin: 0 auto;
    text-align: center;
    width: 640px;
}
.post img{
    max-width: 100%;
}
.captioned-image{
    background: black;
    margin:0 0 20px;
    padding: 10px;
}
.caption{
    color: white;
    display: block;
    font-weight: bold;
    padding: 10px 0 0;
}